<div id="main">

  <div class="top-container">
      
    <div class="nav-bar-container">

      <!--navigation-->
      <div class="navbar navbar-inverse navbar-fixed-left">
        <a class="navbar-brand" href="#">LOGO</a>
        <ul class="nav navbar-nav">
          <li><a href="#home"><i class="fa fa-home"></i><span> Link1 </span></a></li>
        <li><a href="#info"><i class="fa fa-info-circle"></i><span> Link2 </span></a></li>
        <li><a href="#love"><i class="fa fa-heart"></i><span> Link3 </span></a></li>
        <li><a href="#work"><i class="fa fa-briefcase"></i><span> Link4 </span></a></li>
        <li><a href="#contact"><i class="fa fa-envelope"></i><span> Link5 </span></a></li>
        </ul>
      </div>
      <!--end navigation-->
    
    </div>

    <div class="main-view-container">

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">DESTACAT</a></li>
            <li><a href="#">GÈNERES I ESTATS</a></li>
          </ul>
        </div>
      </nav>

    </div>

    </div>

  <div class="nowPlayingBar-container">

    <footer class="now-playing-bar-container">

    </footer>

  </div>

</div>


